.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectGitFolder/FileContentIndex/6006f08e-02c8-4844-93f3-0302800dbd62.vsidx
.vs/ProjectGitFolder/FileContentIndex/6f552562-43aa-4947-a25f-c40a04481525.vsidx
.vs/ProjectGitFolder/FileContentIndex/c099ce82-222a-453e-ac71-d199237f90fb.vsidx
.vs/ProjectGitFolder/FileContentIndex/c34913df-7a92-42e6-845f-741e0b2a44e4.vsidx
.vs/ProjectGitFolder/FileContentIndex/read.lock
.vs/ProjectGitFolder/v17/.suo
.vs/SMP_cs/FileContentIndex/8ed1bb9d-1476-47ba-9148-5d49cd26ae89.vsidx
.vs/SMP_cs/FileContentIndex/ec7c542d-4dd4-47f2-ba74-313c67e10c26.vsidx
.vs/SMP_cs/FileContentIndex/read.lock
.vs/SMP_cs/v16/.suo
.vs/SMP_cs/v17/.suo
.vs/TeamProject/FileContentIndex/1e16caf8-4aa8-43c2-951d-daeed88118a9.vsidx
.vs/TeamProject/FileContentIndex/read.lock
.vs/TeamProject/v16/.suo
.vs/TeamProject/v17/.suo
bin/Debug/BouncyCastle.Crypto.dll
bin/Debug/BouncyCastle.Crypto.xml
bin/Debug/Google.Protobuf.dll
bin/Debug/Google.Protobuf.pdb
bin/Debug/Google.Protobuf.xml
bin/Debug/K4os.Compression.LZ4.dll
bin/Debug/K4os.Compression.LZ4.Streams.dll
bin/Debug/K4os.Compression.LZ4.Streams.xml
bin/Debug/K4os.Compression.LZ4.xml
bin/Debug/K4os.Hash.xxHash.dll
bin/Debug/K4os.Hash.xxHash.xml
bin/Debug/MySql.Data.dll
bin/Debug/MySql.Data.xml
bin/Debug/SMP_cs.exe
bin/Debug/SMP_cs.exe.config
bin/Debug/SMP_cs.pdb
bin/Debug/System.Buffers.dll
bin/Debug/System.Buffers.xml
bin/Debug/System.Memory.dll
bin/Debug/System.Memory.xml
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Numerics.Vectors.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/ZstdNet.dll
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/_IsIncrementalBuild
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SMP_cs.csproj.AssemblyReference.cache
obj/Debug/SMP_cs.csproj.CopyComplete
obj/Debug/SMP_cs.csproj.CoreCompileInputs.cache
obj/Debug/SMP_cs.csproj.FileListAbsolute.txt
obj/Debug/SMP_cs.csproj.GenerateResource.cache
obj/Debug/SMP_cs.csproj.SuggestedBindingRedirects.cache
obj/Debug/SMP_cs.exe
obj/Debug/SMP_cs.Form1.resources
obj/Debug/SMP_cs.Form2.resources
obj/Debug/SMP_cs.Form3.resources
obj/Debug/SMP_cs.Form4.resources
obj/Debug/SMP_cs.Form5.resources
obj/Debug/SMP_cs.pdb
obj/Debug/SMP_cs.Properties.Resources.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/
obj/
